@mixin justifyPosition($jc, $fd: row) {
  display: flex;
  align-items: center;
  flex-direction: $fd;

  justify-content: $jc;
}

@mixin borderStyle($bl, $br, $bc) {
  border: 1px solid $bl;
  border-radius: $br;
  background-color: $bc;
}

@mixin cardStyle($pt: 20px, $pl: 16px, $pb: 20px, $pr: 16px, $br, $bc) {
  padding-top: $pt;
  padding-left: $pl;
  padding-bottom: $pb;
  padding-right: $pr;

  border: none;

  border-radius: $br;
  background-color: $bc;
}

@mixin fontStyle($lh, $fw, $fs, $fc: $GRAY_04) {
  line-height: $lh;
  font-weight: $fw;
  font-size: $fs;
  color: $fc;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}
