$redGetto50: "#FFF3F3";
$redGetto100: "#FFD4D4";
$redGetto200: "#FAABAB";
$redGetto300: "#F98686";
$redGetto400: "#F56060";
$redGetto500: "#FB4846";
$redGetto600: "#D83F3E";
$redGetto700: "#B83130";
$redGetto800: "#961D1C";

$blackGetto0: "#FFFFFF"; //white
$blackGetto50: "#FAF8F8"; //white
$blackGetto100: "#E8E8E8"; //white
$blackGetto200: "#C4C4C4"; //gray
$blackGetto300: "#878585"; //gray
$blackGetto400: "#645F5F"; //gray
$blackGetto500: "#302C2C"; //black
$blackGetto600: "#1B1717"; //black

$error50: "#FFF7EF";
$error500: "#F0790B";
$subBlue50: "#F1F3FF";
$subBlue400: "#5166D3";

/* font-size */
$FW_BOLD: 700;
$FW_SEMIBOLD: 500;

/* font-size */
$FS_SMALL: 1.125rem;
$FS_NORMAL: 1.375rem;
$FS_MEDIUM: 1.5625rem;
$FS_LARGE: 1.75rem;
